<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="dark" defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Price</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form>

    <ion-item class="box" lines="none">
      <ion-input type="text" placeholder="Title"></ion-input>
    </ion-item>

    <ion-item class="box" lines="none">
      <ion-input type="number" placeholder="Price"></ion-input>
    </ion-item>

  </form>

  <div class="ion-padding-top ion-padding-bottom ion-text-center">
    <ion-text class="ion-padding-top ion-text-center">Help a neighbour to know the prices</ion-text>
  </div>
</ion-content>
