<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ product?.title | titlecase }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref="/dashboard/tab/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <!-- <div class="ion-padding-top ion-padding-bottom ion-text-center">
    <ion-text class="ion-padding-top ion-text-center">Help a neighbour to know the prices</ion-text>
  </div> -->
</ion-content>
