<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="12" sizeSm="12" class="top-image ion-text-center">
        <ion-img class="top-image" src="./../../assets/imgs/next-price-small-logo.svg"></ion-img>
      </ion-col>

      <ion-col size="12" sizeSm="12" sizeMd="12">
        <h1 class="ion-text-bold">Welcome</h1>
        <ion-text>
          <p class="">Sign in to continue!</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="">
    <ion-row>
      <ion-col sizeSm="12" sizeMd="6" offsetMd="3">
        <ion-text color="danger" *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </ion-text>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginFormData)">

          <ion-item class="box" lines="none"
            [ngClass]="{'error-box': loginFormData.email.dirty && loginFormData.email.errors}">
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input color="{{ (loginFormData.email.dirty && loginFormData.email.errors) ? 'danger' : '' }}"
              type="text" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <ion-text *ngIf="loginFormData.email.dirty && loginFormData.email.errors" color="danger">
            <p *ngIf="loginFormData.email.hasError('required')">
              Email is required</p>
            <p *ngIf="loginFormData.email.hasError('email')">
              Invalid email address</p>
          </ion-text>

          <ion-item class="box" lines="none"
            [ngClass]="{'error-box': (loginFormData.password.dirty && loginFormData.password.errors)}">
            <ion-input color="{{ (loginFormData.password.dirty && loginFormData.password.errors) ? 'danger' : '' }}"
              [type]="showPassword ? 'text': 'password'" placeholder="Password" formControlName="password">
            </ion-input>
            <ion-icon *ngIf="!showPassword" color="primary" (click)="funShowPassword()" name="eye-outline"></ion-icon>
            <ion-icon *ngIf="showPassword" color="primary" (click)="funShowPassword()" name="eye-off-outline">
            </ion-icon>
          </ion-item>

          <ion-text color="danger" *ngIf="loginFormData.password.dirty && loginFormData.password.errors">
            <p *ngIf="loginFormData.password.hasError('required')">
              Password is required</p>
          </ion-text>

          <ion-button type="submit" [disabled]="loginForm.invalid" class="mt-5" size="large" expand="block"
            color="dark">
            <ion-spinner *ngIf="isLoading" slot="start" color="light" name="bubbles"></ion-spinner> Login
          </ion-button>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text class="ion-text-center" color="primary">
    <p class="link" [routerLink]="['/signup']">Create Account</p>
    <p class="link" [routerLink]="['/reset-password']">Forgotten Password</p>
  </ion-text>
</ion-content>
