ion-tab-button{
  // --background: black;
  // border-radius: 50%;
  // --color: black;
  // --color-selected: white;
}

ion-tab-button[selected="true"]{
  --background: #000000;
  border-radius: 50%;
  --color: white;
  --color-selected: white;
}
