ion-tabs {
  outline: none;
  border: none;
}

ion-tab {
  outline: none;
  border: none;
}

ion-tab-button {
  // --background: black;
  // border-radius: 50%;
  // --color: black;
  --color-selected: #000;
}
