<ion-header>
  <ion-toolbar>
    <ion-icon (click)="openProfile()" class="ion-padding" name="person" slot="end"></ion-icon>
    <ion-title slot="start">Next Price</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="products">
    <ion-text color="dark">
      <h6>All Goods & Services</h6>
    </ion-text>
    <!-- <ion-card>
      <ion-img src="../../../../assets/imgs/dummy.jpg"></ion-img>
    </ion-card> -->


    <ion-list>
      <ion-card *ngFor="let item of products.metaData" class="ion-padding-top">
        <ion-item-sliding lines="none">
          <ion-item lines="none" (click)="viewProduct(item)">
            <ion-label>
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>
                  {{ item.title | titlecase }}
                </h4>
                <ion-badge color="dark">
                  <p style="font-size: 0.7em;"> N{{ item.price }}/{{ item.uom | titlecase }}</p>
                </ion-badge>
              </div>
              <p style="font-style: italic;">
                {{ item.company | titlecase }}
              </p>
              <p style="font-style: italic;">
                {{ item.address | lowercase }}
              </p>
            </ion-label>
            <!-- <ion-icon name="heart" [color]=" item.favourite ? 'danger' : 'light'"></ion-icon> -->
          </ion-item>

          <ion-item-options slot="end" *ngIf="user$ | async as userData">
            <!-- <ion-item-option (click)="markAsFavourite(item.id)">
              <ion-icon name="heart" [color]=" item.favourite ? 'danger' : 'light'"></ion-icon>
            </ion-item-option> -->

            <ion-item-option *ngIf="userData.roles.role === superAdmin
            || userData.roles.role === admin || userData.roles.role === user" (click)="editProduct(item.id)"
              color="warning">
              <ion-icon name="create" color="light" slot="end"></ion-icon>
            </ion-item-option>

            <ion-item-option *ngIf="userData.roles.role === superAdmin" (click)="approveProduct(item.id)">
              <ion-icon *ngIf="item.approved" name="thumbs-up-outline"></ion-icon>
              <ion-icon *ngIf="!item.approved" name="thumbs-down-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option color="danger" *ngIf="userData.roles.role === superAdmin || userData.roles.role === admin"
              (click)="deleteProduct(item.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>

          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
      <!-- <ion-item detail class="ion-margin-top product-list" lines="none">
        <ion-thumbnail slot="start" class="ion-no-padding">
          <ion-img src="../../../../assets/imgs/dummy.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.title | titlecase }}</h2>
          <ion-text color="secondary" class="ion-margin-top">
            <p> N{{ item.price }}/{{ item.uom | titlecase }}</p>
          </ion-text>

        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>

  <div *ngIf="!products?.metaData">
    <div class="custom-skeleton">
      <!-- <ion-skeleton-text animated></ion-skeleton-text> -->
      <ion-list class="ion-margin-top">
        <ion-card>
          <ion-item lines="none">
            <!-- <ion-thumbnail>
            </ion-thumbnail> -->
            <ion-label class="ion-padding">
              <h4>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
              </h4>
              <p>
                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-badge color="medium">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-badge>
            <!-- <ion-icon name="ellipse" color="light" slot="end"></ion-icon> -->
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item lines="none">
            <!-- <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail> -->
            <ion-label class="ion-padding">
              <h4>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
              </h4>
              <p>
                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-badge color="medium">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-badge>
            <!-- <ion-icon name="ellipse" color="light" slot="end"></ion-icon> -->
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item lines="none">
            <!-- <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail> -->
            <ion-label class="ion-padding">
              <h4>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
              </h4>
              <p>
                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-badge color="medium">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-badge>
            <!-- <ion-icon name="ellipse" color="light" slot="end"></ion-icon> -->
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item lines="none">
            <!-- <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail> -->
            <ion-label class="ion-padding">
              <h4>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
              </h4>
              <p>
                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-badge color="medium">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-badge>
            <!-- <ion-icon name="ellipse" color="light" slot="end"></ion-icon> -->
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item lines="none">
            <!-- <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail> -->
            <ion-label class="ion-padding">
              <h4>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
              </h4>
              <p>
                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-badge color="medium">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-badge>
            <!-- <ion-icon name="ellipse" color="light" slot="end"></ion-icon> -->
          </ion-item>
        </ion-card>
      </ion-list>
    </div>
  </div>
</ion-content>
